<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.sport.dao.SkuMapper">
  <resultMap id="BaseResultMap" type="com.java.sport.po.Sku">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="color_id" jdbcType="BIGINT" property="colorId" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="market_price" jdbcType="FLOAT" property="marketPrice" />
    <result column="price" jdbcType="FLOAT" property="price" />
    <result column="delive_fee" jdbcType="FLOAT" property="deliveFee" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="upper_limit" jdbcType="INTEGER" property="upperLimit" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, color_id, `size`, market_price, price, delive_fee, stock, upper_limit, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bbs_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bbs_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.java.sport.po.Sku" useGeneratedKeys="true">
    insert into bbs_sku (product_id, color_id, `size`, 
      market_price, price, delive_fee, 
      stock, upper_limit, create_time
      )
    values (#{productId,jdbcType=BIGINT}, #{colorId,jdbcType=BIGINT}, #{size,jdbcType=VARCHAR}, 
      #{marketPrice,jdbcType=FLOAT}, #{price,jdbcType=FLOAT}, #{deliveFee,jdbcType=FLOAT}, 
      #{stock,jdbcType=INTEGER}, #{upperLimit,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.java.sport.po.Sku" useGeneratedKeys="true">
    insert into bbs_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="colorId != null">
        color_id,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="deliveFee != null">
        delive_fee,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="upperLimit != null">
        upper_limit,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="colorId != null">
        #{colorId,jdbcType=BIGINT},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=FLOAT},
      </if>
      <if test="price != null">
        #{price,jdbcType=FLOAT},
      </if>
      <if test="deliveFee != null">
        #{deliveFee,jdbcType=FLOAT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="upperLimit != null">
        #{upperLimit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.sport.po.Sku">
    update bbs_sku
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="colorId != null">
        color_id = #{colorId,jdbcType=BIGINT},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=FLOAT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=FLOAT},
      </if>
      <if test="deliveFee != null">
        delive_fee = #{deliveFee,jdbcType=FLOAT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="upperLimit != null">
        upper_limit = #{upperLimit,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.sport.po.Sku">
    update bbs_sku
    set product_id = #{productId,jdbcType=BIGINT},
      color_id = #{colorId,jdbcType=BIGINT},
      `size` = #{size,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=FLOAT},
      price = #{price,jdbcType=FLOAT},
      delive_fee = #{deliveFee,jdbcType=FLOAT},
      stock = #{stock,jdbcType=INTEGER},
      upper_limit = #{upperLimit,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>