<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring1_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="lib (2)" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring1/web/Web" />
    </root>
  </artifact>
</component>