<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring02:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring02_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring02" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring02/web/Web" />
    </root>
  </artifact>
</component>