<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties">
        <property name="url" value="jdbc:mysql://localhost:3306/teach_data?characterEncoding=UTF-8"/>
    </properties>


    <settings>
        <setting name="cacheEnabled" value="true"/><!-- 一级缓存开关 session -->
        <setting name="lazyLoadingEnabled" value="true"/><!-- 懒加载 -->
        <setting name="useGeneratedKeys" value="true"/><!-- 主键自增 -->
        <!-- 二级缓存 -->
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/mapper/StudentMapper.xml"/>
    </mappers>
</configuration>